Django==6.0.4
asgiref==3.11.1
djangorestframework==3.17.1
sqlparse==0.5.5
tzdata==2026.1
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
requests==2.31.0
Pillow==10.2.0
python-dotenv==1.0.1
google-generativeai==0.4.1
